
/* ARIALARIALARIALARIALARIALARIALARIALARIALARIALARIALARIALARIALARIALARIALARIALARIALARIALARIAL */
@font-face {
    font-family: 'arial';
    src:url('../myFonts/Arial/Arial.ttf')
}
@font-face {
    font-family: 'arial-black';
    src:url('../myFonts/Arial/Arial\ Black.ttf')
}
@font-face {
    font-family: 'arial-bold';
    src:url('../myFonts/Arial/Arial\ Bold.ttf')
}
@font-face {
    font-family: 'arial-italic';
    src:url('../myFonts/Arial/Arial\ Italic.ttf')
}
@font-face {
    font-family: 'arial-narrow';
    src:url('../myFonts/Arial/Arial\ Narrow.ttf')
}
@font-face {
    font-family: 'arial-bold-italic';
    src:url('../myFonts/Arial/Arial\ Bold\ Italic.ttf')
}
@font-face {
    font-family: 'arial-narrow-bold-italic';
    src:url('../myFonts/Arial/Arial\ Narrow\ Bold\ Italic.ttf')
}
@font-face {
    font-family: 'arial-narrow-bold';
    src:url('../myFonts/Arial/Arial\ Narrow\ Bold.ttf')
}
@font-face {
    font-family: 'arial-narrow-italic';
    src:url('../myFonts/Arial/Arial\ Narrow\ Italic.ttf')
}

.arial{
    font-family: arial;
}
.arial-black{
    font-family: arial-black;
}
.arial-bold{
    font-family: arial-bold;
}
.arial-italic{
    font-family: arial-italic;
}
.arial-narrow{
    font-family: arial-narrow;
}
