.menuContainer{
    background-color: var(--dark-red);
    position: absolute;
    width: 150px;
    top: 0;
    left: 100%;
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
}
.messageOptionContainer{
    position: relative;
}
.menuText{
    margin: 0;
    padding: 7px;
    border-radius: 5px;
    transition-duration: 100ms;
}
.optionsSVG{
    margin: 0 10px;
    padding: 5px;
    border-radius: 100%;
}
.optionsSVG:hover{
    background-color: rgb(210, 210, 210);
}
.reportWindow{
    position: relative;
    border-radius: 15px;
    border: 2px solid black;
    padding: 40px;
    width: 360px;
    height:fit-content;

}
.closeWindowSVG{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    border-radius: 100%;
    padding: 5px;
    transition-duration: 100ms;
}
.closeWindowSVG:hover{
    background-color: rgb(226, 226, 226);
}
.submitReport{
    width: fit-content;
    margin: 15px;
    margin-left: 0;
    padding: 10px;   
    border-radius: 5px;
    background-color: black;
    font-size: large;
}
.badMessageDisplay{
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 10px;
    max-height:150px;
    overflow-y: auto;
}
.reportInput{
    font-size: large;
}
.reportInput:focus{
    outline: none;
}

.testContainer{
    background-color: var(--dark-red);
    width: 150px;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    left:400px;
    top:400px;
}
.menuText{
    margin: 0;
    padding: 7px;
    border-radius: 5px;
    transition-duration: 100ms;
    position:relative;
}
.reactionOption{
    position: relative;
}

.emojisContainer{
    background-color: var(--dark-red);
    /* position: fixed; */
    position: absolute;
    top: 0;
    left: 108%;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0px 10px;
    z-index: 2;
}
.emoji{
    margin: 10px;
    padding: 0 2px;
    border-radius: 5px;
    height: fit-content;
    width: fit-content;

}
