.chatroomContainer{
    height: 100vh;
}
.chatroom{
    height: 80%;
    width:100%;
    position: relative;
    background-color: aqua;
    overflow-y: scroll;
}
.messageForm{
    height: 30px;
    width: 100%;
    display: flex;
}
.messageInput{
    width: 100%;
}
.listOfMessages{
    /* position: absolute; */
    /* bottom: 0; */
    display: flex;
    flex-direction: column;
}