

.chatroomContainer{
    height: 100vh;
    margin: 0;
    padding: 0;
}
.chatroom{
    height: 69%;
    width:80%;
    position: relative;
    overflow-y: scroll;
    word-break: break-word;
    border-radius: 15px;
}
/* 
Ahrefs’ Paragraph Generator can be utilized to quickly generate engaging and informative paragraphs for various types of content. Whether it's blog posts, articles, product descriptions, or social media captions, the tool can assist in generating compelling paragraphs, saving time and effort for content creators.
*/
.formContainer{
    width: 100%;
}
.messageForm{
    height: 40px;
    display: flex;
    margin-top: 10px;
    margin-left: 4px;
    width: 80%;
}

.darker{
    background-color: #cf3b56;
}
.messageInput{
    padding: 5px;
    width: 100%;
    border:none;
    border-radius: 10px;
    font-size: 17px;
    margin-right: 5px;/* a little distance from the button */
    color: white;
}
.messageInput:focus{
    outline: none;
}
.listOfMessages{
    display: flex;
    flex-direction: column;
}
.chatHeader{
    width: 80%;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 2px solid #222828;
}
.vl{
    height: 100%;
    width: 2px;
    /* background-color: #fbc5cf; */
}

.sendButton{
    border-radius: 15px;
}