.homePageContainer{
    height: 100vh;
    position: relative;
}
.signOutBtn{
    position: absolute;
    top: 30px;
    right: 30px;
}
.startChatBtn{
    width: 300px;
    border-radius: 20px;
    border: none;
    background-color: rgb(54, 54, 54);
    color: white;
}
.startChatBtn:hover{
    background-color: rgb(91, 91, 91);
}